@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #1f1f1f;
    color: #eee;
}

.my-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', Arial, sans-serif;
}

.my-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #eee;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #eee;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group input[type="password"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #444;
    color: #eee;
    box-sizing: border-box;
}

.btn-submit,
#get-actors-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover,
#get-actors-button:hover {
    background-color: #45a049;
}



header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #eee;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #eee;
}

